[build]
  command = "npm run build"
  publish = "build"

[[redirects]]
  from = "/api/proxy-audio/*"
  to = "https://api.globalrecordings.net/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
